body {
    font-size: 12px;
    margin: 2%;
}

code {
    font-size: 12px;
}

.header {
    background: #EAF2F5;
    border: 1px solid #BEDCE7;
    margin-bottom: 2%;
    padding: 0px 10px;
}

h1 {
    text-align: center;
}

.header a {
    color: #5788c4;
    text-decoration: none;
}

table {
    border-spacing: 0px;
    border: 1px solid #CCC;
    width: 100%;
    overflow: scroll;
}

td.number {
    background: #ECECEC;
    color: #AAA;
    padding: 2px;
    width: 10px;
    font-size: 12px;
    text-align: center;
}

td.line {
    background: #F8F8FF;
}