body {
font-family: Helvetica;
padding: 0px;
margin: 0px;
}
ul {
list-style: none;
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
margin: 0px;
padding: 0px;
}

ul li {
padding: 1px 5px;
margin: 0px;
color: #686868;
}

p {
margin: 0px;
padding: 0px 0px 0px 18px;
}

p.o {
    background: url("../imgs/o.png") no-repeat top left;
}
p.t {
    background: url("../imgs/t.png") no-repeat top left;
}
p.c {
    background: url("../imgs/c.png") no-repeat top left;
}
p.f {
    background: url("../imgs/f.png") no-repeat top left;
}
p.V {
    background: url("../imgs/v.png") no-repeat top left;
}

span.path, span.line {
    display: none;
}

.top {
position: absolute;
top: 0px;
left: 0px;
right: 0px;
height: 39px;
background: #ededed;
color: #000;
border-bottom: 1px solid #bebebe;
border-top: 1px solid #bebebe;
}

.top input {
    position: absolute;
    top: 10px;
    left: 5px;
    right: 5px;
}

#content {
position: absolute;
overflow: hidden;
top: 40px;
left: 0px;
right: 0px;
bottom: 20px;
}

#footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    background: #ededed;
    border-bottom: 1px solid #bebebe;
    border-top: 1px solid #bebebe;
}

p span {
display: block;
font-size: 10px;
}

li.selected {
background: #d4d4d4;
}
